packages/
obj/
bin/
publish/
.vs/
temp_emoji/
test_emoji.gif
wechat_emojis.json
debug.log
error.log

# >>> Comet managed project state >>>
!/.comet/
/.comet/*
!/.comet/config.yaml
# <<< Comet managed project state <<<
