/* Striped 主题 */
* {
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 12px;
}

body {
    border: 1px solid #A9CBEE;
    background-color: #EbF1Fb;
}

.table_main {
    border-collapse: collapse;
    border-spacing: 0;
}

.table_main th,
.table_main td {
    padding: 4px 5px;
}

.table_main tbody > tr:nth-child(odd) > td,
.table_main tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table_main th,
.table_main td {
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

td {
    border-bottom: 1px solid #ddd;
    min-height: 25px;
}

.td_content {
    cursor: default;
    width: auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 3px !important;
    padding-right: 5px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.td_index {
    width: 25px !important;
    vertical-align: middle !important;
    text-align: center !important;
    margin: 0px !important;
    padding: 0px !important;
}

tr:hover > td {
    background-color: #ACBAD4 !important;
}

.tr_selected > td {
    background-color: #ACBAD4 !important;
}

a {
    text-decoration: none;
}
