/*全局字体*/

* {
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 12px;
}


/* 滚动条*/

::-webkit-scrollbar {
    width: 4px;
    opacity: 0.9;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /*滚动条的背景区域的圆角*/
    background-color: red;
    /*滚动条的背景颜色*/
}

::-webkit-scrollbar-track-piece {
    background-color: #EbF1Fb;
    margin: -2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(165, 154, 154);
    opacity: 0.1;
    max-height: 10px;
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: #555555
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555555
}


/*body*/

body {
    border: 1px solid #A9CBEE;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 441px;
    max-height: 599px;
}

.content {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 599px;
}


/*table*/

.table_main {
    width: 440px;
    cursor: default;
    background-color: #EbF1Fb;
    border-collapse: collapse;
    table-layout: fixed;
}


/*表格边框*/

td {
    border-bottom: 1px solid #ddd;
    min-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*内容表格*/

.td_content {
    cursor: default;
    width: 398px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 3px !important;
    padding-right: 5px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}


/*索引表格*/

.td_index {
    width: 25px !important;
    vertical-align: middle !important;
    text-align: center !important;
    margin: 0px !important;
    padding: 0px !important;
}


/*图片*/

img,
.image {
    width: auto;
    height: auto;
    max-height: 250px !important;
    max-width: 390px !important;
    vertical-align: middle;
    text-align: left;
    margin: 0px !important;
    padding: 0px !important;
}

 

/*鼠标悬浮*/

tr:hover>td {
    background-color: #ACBAD4;
}

.tr_selected>td {
    background-color: #ACBAD4;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100px;
    height: 40px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu>ul {
    padding-left: 5px;
    margin-left: 5px;
    width: 80px;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu>ul>li {
    list-style: none
}

.dropdown-menu>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu>ul>li>a:hover,
.dropdown-menu>ul>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0078d7;
}

a {
    text-decoration: none
}

#searchDiv {
    height: 35px;
    border-bottom: 1px solid #ddd;
    background-color: #EbF1Fb;
}

#searchInput {
    margin-top: 3px;
    margin-left: 3px;
    width: 200px;
    height: 25px;
    font-size: 14px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    background-color: transparent;
}